<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method='POST' action="/results">
      <label for="user_test">Your Text:</label>
      <input type="text_area" id="user_text" name="user_text">
      <input type="submit" id="Submit" name="Submit">
    </form>
  </body>
</html>